/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
/* Global */
h1 {
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto Slab", serif;
}

.h2_titles {
  font-size: 2.25rem;
  text-align: center;
  margin-top: 100px;
}

/* Header  */
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0px 20px;
  background-color: #f8f8f8ef;
  position: sticky;
  backdrop-filter: blur(8px);
  top: 0;
  z-index: 500;
}

.header_drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.header_drawer_content {
  width: 250px;
  top: 25px;
  left: 20px;
  bottom: 25px;
  border-radius: 6px;
  padding: 10px;
  background-color: white;
  position: absolute;
}

.accordions_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion_item {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.accordion_item_anim {
  transform: scale(1.09);
}

.accordion_item_button {
  width: 100%;
  color: white;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 20px;
}

#accordion_item_button_0 {
  background-color: #f42e91;
  box-shadow: 0 3px 15px -3px rgba(255, 0, 144, 1);
}
#accordion_item_content_0 {
  background-color: rgb(249, 149, 199);
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#accordion_item_button_1 {
  background-color: rgb(228, 16, 247);
  box-shadow: 0 3px 15px -3px rgba(228, 16, 247, 1);
}
#accordion_item_content_1 {
  background-color: rgb(236, 132, 245);
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#accordion_item_button_2 {
  background-color: rgb(16, 247, 228);
  box-shadow: 0 3px 15px -3px rgba(16, 247, 228, 1);
}
#accordion_item_content_2 {
  background-color: rgb(182, 245, 239);
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#accordion_item_button_3 {
  background-color: rgb(211, 254, 38);
  box-shadow: 0 3px 15px -3px rgba(211, 254, 38, 1);
}
#accordion_item_content_3 {
  background-color: rgb(230, 249, 154);
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.accordion_subitem {
  border-bottom: 0.5px solid;
  border-color: rgb(255, 255, 255, 0.3);
  width: 100%;
  padding: 8px 0px;
}
.accordion_subitem:active {
  opacity: 0.7;
}

.accordion_item_content_open {
  display: flex;
}
.accordion_item_content_close {
  display: none;
}

.header_drawer_close {
  display: none;
}

.header_drawer_open {
  display: flex;
}

.header_links {
  display: none;
  gap: 25px;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(56, 56, 56);
}

/* Links  */
.header_link {
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow_container {
  position: absolute;
  top: -1px;
  z-index: -1;
  width: 100%;
}

.arrow {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  background-color: #f7dfe9;
  rotate: 45deg;
  border-radius: 1px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.link_card {
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  top: 60px;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: #f7dfe9;
  width: 100%;
}

.sub_link {
  text-align: center;
  font-size: 15px;
  padding: 8px;
}
.sub_link:hover {
  background-color: #f8f8f8;
}

/* Main PAGE (index.html) */
.main {
  background-image: linear-gradient(to bottom, #f8f8f8, #f2f3f5);
  /* background-color: #f3f4f6; */
  min-height: 100vh;
  padding-bottom: 150px;
}

.main_cover {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
}

/* Cover (index.html) */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  align-items: center;
  padding-top: 75px;
}

.cover_content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.25rem;
}

/* Main (index.html) */
.main_news {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 60px;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 0px 30px;
}

/* Articles (MainPage) (index.html) */
.articles_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 30px;
}

.articles {
  gap: 20px;
}

.article {
  width: 100%;
  margin-bottom: 40px;
}

.article_img {
  aspect-ratio: 1 / 1;
}

.article_img img {
  width: 100%;
  border-radius: 2px;
  height: 100%;
  object-fit: cover;
}

.article_img_2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.article_content {
  padding: 5px;
}

.article_content p {
  text-align: justify;
}

/* Article center (MainPage) (index.html) */
.article_img_3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

.article_img_3 .article_img {
  aspect-ratio: 9 / 14;
}

.article_img_4 {
  grid-row-start: 1;
  grid-column-start: 5;
}

.article_img_5 {
  grid-row-start: 2;
  grid-column-start: 5;
}

/* Must read section (MainPage) (index.html) */
.must_read {
  background-color: white;
  padding: 12px;
  margin: 50px 0px 50px 0px;
}

.must_read_title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 22px;
}

.must_read_title h3 {
  text-align: center;
}

.must_read_articles {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 20px auto;
  max-width: 1400px;
  gap: 20px;
}

.must_read_art {
  display: flex;
  gap: 10px;
}

.must_read_art_img {
  overflow: hidden;
  border-radius: 5px;
}

/* Celebrity Style section (MainPage) (index.html)*/
.sizesCards_section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}

.celebrity_section_container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.celebrity_section_art_content {
  padding: 12px;
}

.section_title {
  display: flex;
  justify-content: center;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.section_title h3 {
  text-transform: uppercase;
  font-size: 1.563rem;
  text-align: center;
}

.celebrity_section_art {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Carousel  (MainPage) (index.html)*/
.section_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
}

.wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(174, 173, 173, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 50;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.carousel_arrow {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

/* footer */
.footer_container {
  background: #f42e91;
  color: white;
  position: relative;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_icon {
  height: 25px;
  width: 25px;
}

.footer_links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 100%;
  flex-direction: column;
}

.footer_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer_text {
  text-align: justify;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_subcribe_container {
  display: flex;
  justify-content: center;
}

.footer_subcribe {
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 20px;
  top: -35px;
  width: 600px;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer_subcribe_div {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

/* FASHION PAGE */
.h1_titles {
  font-size: 4.25rem;
  text-align: center;
  padding-top: 20px;
}

/* Models section - FASHION PAGE */
.sizesCards_container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
  gap: 22px;
}

.sizesCard {
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgba(255, 152, 222, 0.902);
}

.sizesCard_img img {
  width: 100%;
}

.sizesCard_content {
  padding: 22px;
}

.sizesCard_content p {
  text-align: justify;
}

.sizesCard.tiny {
  min-height: 650px;
}

/* FASHION PAGE TABS */
.tabs {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 30px;
}

.tab-header {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;
}

.tab-button {
  padding: 5px 15px;
  background-color: #f7dfe9;
  border-radius: 9999px;
  transition-duration: 400ms;
}

.tab-button.active {
  background-color: black;
  color: white;
}

.tab-button.active:hover {
  background-color: black;
}

.tab-button:hover {
  background-color: rgb(252, 200, 229);
}

.tab-content-cards {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.models_carousel {
  padding: 0px 30px;
}

/* FASHION PAGE Home: Carousel */
.wrapperFashionPage {
  display: flex;
  max-width: 1370px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wrapperFashionPage i {
  top: 50%;
  height: 44px;
  width: 44px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.arrow-right img {
  transform: rotate(90deg) scale(1.5);
}

.arrow-left img {
  transform: rotate(-90deg) scale(1.5);
}

.wrapperFashionPage i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapperFashionPage i:first-child {
  left: -22px;
  display: none;
}

.wrapperFashionPage i:last-child {
  right: -22px;
}

.wrapperFashionPage .carouselFashionPage {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carouselFashionPage.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carouselFashionPage.dragging img {
  pointer-events: none;
}

.carouselFashionPage img {
  height: 640px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: 100%;
  border-radius: 10px;
}

.carouselFashionPage img:first-child {
  margin-left: 0px;
}

.carouselFashionPage {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

/* FASHION PAGE Models Section - DISCOVER MODELS */
.models_discover {
  padding: 100px 30px 0px 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.models_discover_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.models_discover_card_content {
  padding: 5px;
  font-size: 1.3rem;
}

.models_discover_card_image {
  position: relative;
  cursor: pointer;
}

.models_discover_card_panel {
  transition-duration: 200ms;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.models_discover_card_panel:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* FASHION PAGE Models Section - DISCOVER MODELS - Modals */
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal_content {
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
}

.modal_open {
  display: flex;
}

.modal_close {
  display: none;
}

/* FASHION PAGE- Clothing section - Explore by topic  */
.clothing_tabs {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 30px 0px 30px;
}

.clothing-tab-button {
  padding: 5px 15px;
  background-color: #f7dfe9;
  border-radius: 9999px;
  transition-duration: 400ms;
}

.clothing-tab-button.active {
  background-color: black;
  color: white;
}

.clothing-tab-button.active:hover {
  background-color: black;
}

.clothing-tab-button:hover {
  background-color: rgb(252, 200, 229);
}

/* FASHION PAGE - "More in Models" */
.moreInModels {
  padding: 100px 30px 0px 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.moreInModels_container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 30px;
}

.moreInModels_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moreInModels_card {
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 350px;
}

.moreInModels_card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.moreInModels_card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.moreInModels_card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #f42e91;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.moreInModels_card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.moreInModels_card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.moreInModels_content {
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

/* Modal (animations) */
@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-modal {
  animation: modalAnimation 0.2s ease-in-out;
}

/* Beauty page - main poster */
/* Slider Main Info */
.mainPoster {
  margin-top: 20px;
  margin-bottom: 120px;
}

.slider-frame {
  max-width: 1400px;
  height: auto;
  margin: auto;
  max-height: 750px;
  overflow: hidden;
  border-radius: 5px;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/* Carousel Videos (Bauty page) (beauty.html) */
.carouselBeautyPage {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  scroll-snap-type: proximity;
  overflow-x: auto;
  border-radius: 8px;
  scroll-behavior: smooth;
}

.carouselBeautyPage::-webkit-scrollbar {
  display: none;
}

.cardVideo {
  height: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.cardVideo_img {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
}

.cardVideo_titleVideo {
  font-size: 23px;
  padding: 10px 15px;
  font-weight: 500;
}

.video_modal_content {
  background-color: white;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
}

/* Magazines Buy section - BEAUTY PAGE (beauty.html) */
.magazineContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 25px;
}

.magazine-image {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.magazine-image img:hover {
  transform: scale(1.1);
}

.magazine-image img {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.magazine-content {
  padding: 10px;
}

.magazine-content h4 {
  font-size: 20px;
}

.magazine-button {
  background-color: #f7dfe9;
  padding: 5px 20px;
  margin-top: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 10px;
  right: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  backdrop-filter: blur(8px);
}

.magazine-button:hover {
  opacity: 0.9;
}

.magazine-0 {
  grid-row: span 2 / span 2;
  grid-column: span 2 / span 2;
}

.makeupContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 200px 40px;
  justify-items: center;
}

.makeup_item {
  max-width: 80%;
  position: relative;
}

.makeup_item_0 h4 {
  font-family: "Rock Salt", cursive;
  font-size: 70px;
  color: #8a609e;
  position: relative;
  top: 100px;
  text-shadow: 1px 1px 2px #975677, 0 0 1em #d4a1bb;
}

.makeup_item_0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.makeup_item_0_img {
  overflow: hidden;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px #8d63a3, 0 2px 4px -2px #8d63a3;
  max-height: 450px;
  max-width: 450px;
  aspect-ratio: 1 / 1;
}

.makeup_item_img {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.makeup_item_content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  margin-top: -30px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 50;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.makeup_item_content h4 {
  font-size: 20px;
}

.careContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 150px 40px;
  justify-items: center;
}

.skincare_item {
  max-width: 80%;
  position: relative;
}

.skincare_item_0 {
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skincare_item_0 h4 {
  font-family: "Rock Salt", cursive;
  font-size: 50px;
  color: #99c6d7;
  position: relative;
  bottom: 2px;
  text-shadow: 1px 1px 2px #975677, 0 0 1em #826373;
}

.skincare_item_0_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skincare_item_0_img {
  max-height: 450px;
  max-width: 450px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px #8d63a3, 0 2px 4px -2px #8d63a3;
}

.skincare_item_img {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.skincare_item_content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  margin-top: -30px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 50;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.skincare_item_content h4 {
  font-size: 20px;
}

/* CULTURE PAGE (culture.html) */
.cover_page_img {
  max-width: 1400px;
  margin: 0 auto;
}

.cover_page_img img {
  width: 100%;
  margin-bottom: 100px;
}

/* SHOWTIME TREASURES - Culture page (culture.html) */

.tvMovies {
  gap: 45px;
  align-items: start;
  max-width: 1400px;
  margin: 0 auto;
}

.tvMovies_main {
  flex: 1;
}

.tvMovies_sidebar {
  aspect-ratio: 16 / 9;
  width: 100%;
  margin-bottom: 30px;
}

.tvMovies_sidebar img {
  width: 100%;
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

/* SHOWTIME TREASURES cards animations */
@keyframes show {
  from {
    opacity: 0;
    transform: translateX(-7rem);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.tvMovies_card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 50px;
  animation-timeline: --image;
  animation-name: show;
  animation-fill-mode: both;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-range: entry 25% cover 30%;
}

.tvMovies_card:last-of-type {
  margin-bottom: 0px;
}

.tvMovies_card_img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.tvMovies_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tvMovies_card_content {
  padding: 20px 25px;
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* INSPIRARTION INSIGHTS section - Culture page (culture.html) */
.art_container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 25px;
}

.art_card {
  height: 630px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  border-radius: 3px;
}

.art_card.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.art_card.dragging .art_card_article {
  cursor: grab;
  user-select: none;
}

.art_card_article {
  height: 630px;
  background-color: white;
  scroll-snap-align: start;
  border-radius: 3px;
  position: relative;
}

.art_card_arrow_upside_down {
  transform: rotate(180deg);
}

.card_topic {
  position: relative;
}

.art_card_article_content {
  padding: 10px;
}

.art_card_article_img {
  width: 100%;
  height: 40%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: hidden;
}

.art_card_article_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.art_card_article_content h4 {
  font-size: 22px;
}

.art_card_topic {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgb(56, 56, 56);
}

.art_card_arrow {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: bounceArrow 1s infinite;
}

.sports_container {
  max-width: 1400px;
  margin: 0 auto;
}

.sports_tabs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 51;
  flex-wrap: wrap;
  gap: 10px;
}

.tab-button-sport {
  padding: 10px;
  background-color: white;
  transition-duration: 300ms;
  font-size: 20px;
}

.tab-button-sport.active {
  background-color: #f42e91;
  color: white;
  transform: scale(1.05);
  border-radius: 10px;
}

.tab-button-sport.active:hover {
  background-color: #f64ea2;
}

.tab-button-sport:hover {
  background-color: rgb(252, 200, 229);
}

.tab-sport {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.tab-sport-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.tab-sport-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-sport-content {
  padding: 10px 20px;
  position: relative;
  z-index: 50;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tab-sport-content p {
  font-size: 17px;
  text-align: justify;
}

.tab-sport-content h4 {
  font-size: 23px;
}

/* LIFESTYLE SECTION - lifestyle.html */
.home_decorating_container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  position: relative;
}

.poster_home_decorating {
  width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.poster_home_decorating img {
  object-fit: cover;
  width: 100%;
}

.cards_homedecorating_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}

.lifestyle_card {
  width: 100%;
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  border-radius: 5px;
  overflow: hidden;
}

.lifestyle_card:hover {
  scale: 1.02;
}

.lifestyle_card_content {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px 5px;
  z-index: 50;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}

.lifestyle_card_img {
  height: 100%;
  width: 100%;
}

.lifestyle_card_panel {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.lifestyle_card_panel:hover {
  opacity: 0.65;
}

.lifestyle_card_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.lifestyle_panel {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 550;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.lifestyle_panel_content {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 1000px;
  border-radius: 10px;
  overflow: auto;
  max-height: 500px;
}

.lifestyle_panel_content_img {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.lifestyle_panel_content_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lifestyle_panel_text_modal {
  flex: 1;
  padding: 20px;
}

.lifestyle_panel_text_modal h4 {
  font-size: 33px;
}
.lifestyle_panel_text_modal p {
  text-align: justify;
}

.panel_close {
  display: none;
}

.panel_open {
  display: flex;
}

/* Travel section  - Lifestyle page*/
.travel_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card_travel_img {
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.card_travel_img img {
  width: 100%;
  object-fit: cover;
}

.card_travel_title {
  padding: 10px;
}

.card_travel_title h4 {
  font-size: 40px;
  text-align: center;
}

@keyframes show_left_right {
  from {
    opacity: 0.2;
    transform: translateX(-10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scale_anim {
  from {
    opacity: 0.2;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card_travel_0 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: scale_anim;
  animation-range: entry 15% cover 90%;
  animation-fill-mode: both;
  transform: translateX(0px);
}

.card_travel_1 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: scale_anim;
  animation-range: entry 15% cover 90%;
  animation-fill-mode: both;
  transform: translateX(0px);
}

.card_travel_2 {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: scale_anim;
  animation-range: entry 15% cover 90%;
  animation-fill-mode: both;
  transform: translateX(0px);
}

/* Holiday section - Lifestyle page*/
.holidays_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.holidays_poster {
  width: 100%;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  max-height: 100vh;
}

.panel_holiday_poster {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.panel_holiday_poster:hover {
  opacity: 0.45;
}

.holidays_main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  flex: 1;
}

.holidays_poster h4 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 30px 10px;
  width: 100%;
}

.panel_holiday_poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
}

.holiday_card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 12/9;
}
.holiday_card_content {
  position: absolute;
  bottom: 0px;
  color: white;
  backdrop-filter: blur(4px);
  text-align: center;
  padding: 10px;
}
.holiday_card_content h4 {
  font-size: 15px;
}

@keyframes arrow_bounce {
  from {
    opacity: 0;
    transform: translateX(7rem);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes bounceArrow {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* MD */
@media (min-width: 768px) {
  /* Main page - cover */
  .cover {
    display: flex;
    flex-direction: row;
  }

  .cover_content {
    width: 50%;
  }

  .cover_image {
    width: 50%;
  }

  /* Main page - TODAY'S STORIES section */
  .main_news {
    flex-direction: row;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .article_img {
    aspect-ratio: 9 / 14;
  }

  /* FASHION PAGE */
  .tab-content-cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .moreInModels_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 80px 60px;
  }

  /* Beauty Page GLAMOUR & GLOW */
  .cardVideo {
    max-width: calc((100% / 2));
  }

  /* Beauty Page STYLE SPOTLIGHT: THE LATEST IN FASHION */
  .magazineContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  /* SHOWTIME TREASURES */
  .tvMovies_card {
    flex-direction: row;
  }

  .tvMovies_card_img {
    width: 350px;
  }

  /* Culture page SPORTSCAPE: INSIDE THE ACTION */
  .sports_tabs {
    flex-direction: row;
  }

  .buttons_container {
    flex-direction: column;
    width: 150px;
    margin-right: -50px;
    gap: 0px;
  }

  .tab-sport-content {
    position: absolute;
    margin: 0px 40px 20px 40px;
    padding: 20px 30px;
    border-radius: 10px;
  }

  .tab-button-sport {
    padding: 25px 15px;
  }

  /* LIFESTYLE  page - ELEGANT section*/
  .cards_homedecorating_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .lifestyle_card_0 {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
    grid-column-start: 1;
  }

  .lifestyle_card_1 {
    grid-column: span 2 / span 2;
    grid-row: span 1 / span 1;
    grid-column-start: 2;
  }

  .lifestyle_card_2 {
    grid-column: span 2 / span 2;
    grid-row: span 1 / span 1;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .lifestyle_card_3 {
    grid-column: span 1 / span 1;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .lifestyle_card_4 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .lifestyle_card_5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .lifestyle_panel {
    padding: 0px 60px;
  }
  .lifestyle_panel_content {
    max-height: 700px;
  }

  /* CELEBRATIONS section */
  .holidays_poster h4 {
    font-size: 40px;
  }
  .holiday_card_content h4 {
    font-size: inherit;
  }
  .holidays_main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .holiday_card {
    aspect-ratio: auto;
  }

  /* FOOTER */
  .footer_subcribe_div {
    flex-direction: row;
  }
}

/* LG */
@media (min-width: 1024px) {
  /* FASHION PAGE */
  .sizesCards_container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .moreInModels_container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* Beauty page SKIN & BEAUTY CARE TIPS */
  .makeupContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .makeup_item_0 {
    grid-column: auto;
    grid-row: span 2 / span 2;
  }

  .makeup_item_0 h4 {
    position: absolute;
  }

  .makeup_item_0 {
    flex-direction: row;
  }

  .makeup_item {
    max-width: 500px;
  }

  .careContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .skincare_item_0 {
    grid-column: span 2 / span 2;
    flex-direction: row;
  }

  .skincare_item_0 h4 {
    position: absolute;
  }

  /* Culture page INSPIRARTION INSIGHTS */
  .art_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .art_card_article_img {
    height: 60%;
  }

  .art_card_article_content {
    padding: 20px 35px;
  }

  /* Culture page SPORTSCAPE: INSIDE THE ACTION */
  .buttons_container {
    width: 250px;
  }

  /* LIFESTYLE page - ELEGANT section */
  .home_decorating_container {
    flex-direction: row;
  }
  .poster_home_decorating {
    width: 40%;
  }
  .lifestyle_panel_content {
    flex-direction: row;
  }
  .lifestyle_panel_content_img {
    width: 400px;
  }

  /* CELEBRATIONS section */
  .holidays_container {
    flex-direction: row;
  }
  .holidays_poster {
    position: sticky;
    top: 0;
    width: 50%;
  }

  /* Footer */
  .footer {
    padding: 50px;
  }

  .footer_subcribe {
    width: 800px;
    flex-direction: row;
    position: absolute;
  }

  .footer_links_container {
    flex-direction: row;
    align-items: start;
  }

  .footer_links {
    width: 50%;
  }

  .footer_text {
    width: 50%;
  }
}

/* XL */
@media (min-width: 1280px) {
  /* Header */
  .header {
    padding: 0px 140px;
  }

  .header_links {
    display: flex;
  }

  /* Main page - MUST READ section*/
  .must_read_articles {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* Main page - CELEBRITY STYLE section  */
  .celebrity_section_container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  /* Beauty Page GLAMOUR & GLOW */
  .cardVideo {
    max-width: calc((100% / 3.3));
  }

  /* Beauty page SKIN & BEAUTY CARE TIPS */
  .makeupContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .careContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .skincare_item {
    max-width: 500px;
  }

  .skincare_item_0 h4 {
    font-size: 110px;
  }

  .skincare_item_0 {
    grid-row: span 2 / span 2;
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  /* Culture page SHOWTIME TREASURES */
  .tvMovies {
    display: flex;
    flex-direction: row-reverse;
  }

  .tvMovies_sidebar {
    width: 450px;
    height: 100vh;
    position: sticky;
    top: 60px;
    margin-bottom: 0px;
  }
}
